/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family:  'Lato', sans-serif;
}


.text-gray{
    color: #727272;
}




.btn-primary{
    background: #FF900E;border-radius: 8px; padding: 20px 25px; 
    color: #FFF; font-size: 1.25rem;font-weight: 600; cursor: pointer; border: 0;
}
.section-title{

    font-size: 2.8rem; font-weight: 700; color: #131313;
}


/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;

}
nav{
    display: flex; justify-content: space-between; align-items: center;
}


nav >ul {
    display: flex;
}
nav li{
     margin: 30px; font-weight: 500; font-size: 1rem; list-style: none; 
}
nav li a{
    text-decoration: none; color: #424242;
}
/* banner styles */

.banner-content{
max-width: 800px; text-align: center; margin: 0 auto;

}
.banner-title{
    font-size: 4rem; font-size: 700; color: #131313;
}


.banner img{
    width: 100%; margin-top: 20px;
}

/*main styles */
main{
    max-width: 1440px; margin: 70px auto;
}
.teams-container{
    display: flex; align-items: center;
}
.teams-img-container{
display: grid; grid-template-columns: repeat(2, 1fr); gap: 24px;
}
.teams-content{
    padding-right: 70px; padding-left: 70px;
}
.teams-title {
    font-size: 3rem;
}
.teams-title .quick{ color: #727272; font-weight: 500;

}
.teams-title .text-features{
    color: #FF900E; font-weight: 700px
}

/* feature section styles*/
.features .section-title{
    border-left: 5px solid #FF900E; padding-left: 20px;
}



.features{
    display: flex; margin-top: 130px; gap: 100px;
}



.feature-content .card {
    border-radius: 8px;
    background:#FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06); padding: 30px; margin-bottom: 20px;
}
.ten-years{
    border-radius: 8px; color: #FF900E; color: #FFF; width: 342px; padding: 40px; text-align: center;
    position: relative; bottom: 100px;
}
.ten-years h2{
    font-size: 4rem; margin: 0;
}
.ten-years p{
    font-size: 1.5rem;
}
.features-img img{
    height: 90%; margin-left: 90px;
}


/*facts section*/
.facts-card-container{
    display: flex; justify-content: space-around;
}
.facts-card-container .card{ 
    border-radius: 8px;
border: 1px solid #FF900E; text-align: center; padding: 30px  30px;
}
.facts-card-container .card-title{
    font-size: 1.25rem;  font-weight: 600; margin-top: 5px;
}




.facts-card-container .card-stats{
    font-size: 2.8rem; color: #424242; font-size: 2.8rem; margin-top: 10px;margin-bottom: 10px; color: #424242;
}

/*sponsors styles*/
.sponsors{
    text-align: center;
}
.Sponspors-img-container{
    display: flex; justify-content: space-evenly; margin-top: 50px;
}
.Sponspors-img-container img{
    width: 165px;
}

.all{
    text-align: center;
}




/* responsive media query */
/* mobile device*/
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav , .teams-container .facts-card-container , .Sponspors-img-container, .features
    {
        flex-direction: column;
    }
.ten-years{
    position: static; max-width:300px ;
}


    .teams-img-container{
grid-template-columns: 1fr;
    }

.features-img img{
    width: 100%; margin-left: 0;
}


    .teams-content {
        padding-right: 20px; padding-left: 20px;
    }

.facts-card-container{
    gap: 20px;
}

}

/*tablet i pad device*/

@media screen and (min-width:556px) and (max-width:992px) {
    nav, .teams-container, .Sponspors-img-container{
       flex-direction: column; 
    }
header{
    padding: 50px;
}
}